
.background {
    background-color: #14002D;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: auto;
    margin: 0px;
    max-width: 2560px;
}

.nav-bar {
    border-radius: 35px;
}

.nav-bar-fixed {
    z-index: 20;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgb(0 0 0/6%);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar-main {
    -webkit-font-smoothing: antialiased;
    z-index: 50;
    width: 100%;
    font-size: .875rem;
    font-weight: 600;
    position: fixed;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex: 1 1;
    height: 70px;
    background-color: #14002D;
    color: #F8F8FF;
    border: 1px solid;
    border-left: 0px;
    border-right: 0px;
}

.nav-bar-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    height: 70px;
}

.nav-bar-items {
    padding-inline: .25rem;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    overflow-x: hidden;
    list-style-type: none;
    margin: 0;
    justify-content: right;
}

.nav-bar-name-div {
    padding-inline: .25rem;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    overflow-x: hidden;
    list-style-type: none;
    margin: 0;
    justify-content: space-evenly;
}

.nav-bar-name {
    font-size: 30px;
    padding-left: 20px;
    margin: 0px;
}

@media (min-width: 1230px) {
    .nav-bar-name {
        font-size: 40px;
    }
}

@media (min-width: 800px) and (max-width: 1049px) {
    .nav-bar-name {
        padding-right: 0px;
    }

    .nav-bar-li-item {
        max-width: 150px;
    }
}


@media (min-width: 1200px) {
    .item-projects-header {
        font-size: 30px;
    }
}

.nav-bar-spacer {
    flex-grow: 1;
    width: auto;
    padding-left: 0px;
    height: 60px;
}

.nav-bar-li-item {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.nav-bar-item {
    font-size: 20px;
    text-decoration: none;
    color: #F8F8FF;
    border: #32016E solid;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 100px;
    background-color: black;
    transform: scale(1.0);
    transition: 0.2s;
}

.nav-bar-item:hover {
    color: #2600FF;
    transition: 0.2s;
    transform: scale(1.070);
}

@media (max-width: 799px) {
    .nav-bar-item {
        display: none;
    }

    .nav-bar-spacer {
        display: none;
    }

    .nav-bar-items {
        justify-content: center;
        display: none;
    }

    .nav-bar-name-div {
        display: flex;
        justify-content: center;
    }

    .nav-bar-name {
        padding: 0px;
        font-size: 30px;
    }
}




.main-section {
    padding-top: 70px;
}

.main-section-item {
    border-top: 3px #F8F8FF solid;
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    .main-section-item-about {
        border-top: 3px #F8F8FF solid;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 800px) {
    .main-section-item-about {
        border-top: 3px #F8F8FF solid;
        display: flex;
        flex-direction: row;
    }
}

.about {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

#about {
    border-top: 0px;
}

@media (max-width: 800px) {
    .about {
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 0px;
        align-items: center;
    }
}

.sofa-image {
    width: 400px;
    padding: 0px 75px 0px 75px;
}

@media (min-width:900px) and (max-width:1200px) {
    .sofa-image {
        width: 350px;
        padding-top: 50px;
    }

    .item-about-header {
        font-size: 30px;
        display: flex;
    }

    .item-about-content {
        font-size: 19px;
        margin-right: 15px;
    }

    .item-about-content-two {
        font-size: 19px;
        margin-right: 15px;
    }

    .about-me-description {
        padding-top: 50px;
    }
}

@media (min-width: 1001px) {
    .item-about-header {
        font-size: 40px;
        display: flex;
    }

    .item-about-content {
        font-size: 20px;
        margin-right: 75px;
    }

    .item-about-content-two {
        font-size: 20px;
        margin-right: 75px;
    }
}

@media (min-width:800px) and (max-width:900px) {
    .sofa-image {
        width: 350px;
        padding-top: 50px;
    }

    .item-about-header {
        font-size: 30px;
        display: flex;
    }

    .item-about-content {
        font-size: 19px;
        margin-right: 15px;
    }

    .item-about-content-two {
        font-size: 19px;
        margin-right: 15px;
    }

    .about-me-description {
        padding-top: 50px;
    }
}

@media (max-width: 799px) {
    .sofa-image {
        width: 400px;
        padding: 50px 0px 0px;
        justify-self: center;
    }

    .item-about-header {
        display: none;
    }
}

@media (max-width: 600px) {
    .sofa-image {
        width: 250px;
    }
}

@media (max-width: 500px) {
    .sofa-image {
        width: 200px;
    }
}

.item-about-header {
    font-family: 'Times New Roman', Times, serif;
    color: #F8F8FF;
    justify-self: center;
    border-bottom:#32016E solid;
}

.about-item-header-phone {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #F8F8FF;
    display: flex;
    justify-content: center;
    margin: 0px;
    border-bottom:#32016E solid;
}

@media (min-width: 799px) {
    .about-item-header-phone {
        display: none;
    }
}

.item-about-content {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: #F8F8FF;
}

.item-about-content-two {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: #F8F8FF;
}

@media (max-width: 799px) {
    .item-about-content {
        font-size: 18px;
        padding: 0px 30px 0px 30px;
    }

    .item-about-content-two {
        font-size: 18px;
        padding: 0px 30px 30px 30px;
        margin-top: 0px;
    }
}

.rectangle-block:hover {
    transform: scale(1.1);
}

.projects {
    display: flex;
    flex-direction: column;
}

@media (min-width:801px) and (max-width: 1200px) {
    .align-rectangles {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .project-images {
        width: 190px;
        display: flex;
        justify-self: center;
    }
}

@media (max-width:801px) {
    .align-rectangles {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}

@media (min-width:956px) and (max-width: 1200px) {
    .rectangle-block {
        border-radius: 20px;
        width: 250px;
        margin: 0px 30px 0px 30px;
        background-color: #32016E;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.9s;
        transform-style: preserve-3d;
        height: 330px;
        position: relative;
    }

    .rectangle-block.is-flipped {
        transform: rotateY(180deg) scale(1.1);
    }

}

@media (min-width:901px) and (max-width: 956px) {
    .rectangle-block {
        border-radius: 20px;
        width: 230px;
        margin: 0px 30px 0px 30px;
        background-color: #32016E;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.9s;
        transform-style: preserve-3d;
        height: 330px;
        position: relative;
    }

    .rectangle-block.is-flipped {
        transform: rotateY(180deg) scale(1.1);
    }
}

@media (min-width:801px) and (max-width: 901px) {
    .rectangle-block {
        border-radius: 20px;
        width: 197px;
        margin: 0px 30px 0px 30px;
        background-color: #32016E;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.9s;
        transform-style: preserve-3d;
        height: 330px;
        position: relative;
    }

    .rectangle-block.is-flipped {
        transform: rotateY(180deg) scale(1.1);
    }
}

@media (min-width: 1201px) {
    .align-rectangles {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .rectangle-block {
        border-radius: 20px;
        width: 300px;
        margin: 0px 40px;
        background-color: #32016E;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.9s;
        transform-style: preserve-3d;
        height: 350px;
        position: relative;
    }

    .rectangle-block.is-flipped {
        transform: rotateY(180deg) scale(1.1);
    }

    .project-images {
        width: 200px;
        display: flex;
        justify-self: center;
    }

    .project-images-secondary-change{ 
        width: 190px;
    }
}

.rectangle-block.is-flipped .button-link{
    display: flex;
    transition: 1.1s;
    transform: rotateY(180deg) scale(1);
}

@media (min-width: 1401px) {
    .align-rectangles {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .rectangle-block {
        border-radius: 20px;
        width: 400px;
        margin: 0px 25px;
        background-color: #32016E;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.9s;
        transform-style: preserve-3d;
        height: 350px;
        position: relative;
    }
    
    .rectangle-block.is-flipped {
        transform: rotateY(180deg) scale(1.1);
    }
}

@media (max-width: 801px) {
    .rectangle-block {
        border-radius: 20px;
        background-color: #32016E;
        padding: 0px;
        margin: 0px 50px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.9s;
        transform-style: preserve-3d;
        height: 350px;
        position: relative;
        min-width: 200px;
    }
    
    .rectangle-block.is-flipped {
        transform: rotateY(180deg) scale(1.1);
    }
}

.front-project, .back-project {
    position: absolute;
    backface-visibility: hidden;
}

.back-project {
    transform: rotateY(180deg);
}

.button-link {
    display: flex;
    justify-content: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    transform: rotateY(180deg) scale(0.0);
    transition: 0.5s;
}

.box {
    border: black solid 10px;
    border-radius: 20px;
    background-color: black;
    width: 170px;
}

.project-link {
    display: flex;
    color: #F8F8FF;
    text-decoration-line: none;
    font-size: 25px;
    justify-content: center;
    border: black solid 20px;
    background-color: black;
    border-radius: 20px;
    width: 130px;
    transition: 0.2s;
    transform: scale(1.0);
}

.project-link:hover {
    color: #2600FF;
    transition: 0.2s;
    transform: scale(1.070);
}

@media (max-width: 1200px) {
    .button-link {
        padding: 20px;
    }

    .box {
        border: black solid 10px;
        border-radius: 20px;
        background-color: black;
        width: 150px;
    }

    .project-link {
        display: flex;
        color: #F8F8FF;
        text-decoration-line: none;
        font-size: 20px;
        justify-content: center;
    }

    .project-link:hover {
        color: #2600FF;
    }
}

@media (max-width: 400px) {
    .button-link {
        padding: 20px;
    }

    .box {
        border: black solid 10px;
        border-radius: 20px;
        background-color: black;
        width: 120px;
    }


}

@media (max-width: 600px) {
    .project-link {
        display: flex;
        color: #F8F8FF;
        text-decoration-line: none;
        font-size: 15px;
        justify-content: center;
    }

    .project-link:hover {
        color: #2600FF;
    }
}

.projects-div-item-header {
    padding: 50px 0px 35px 0px;
}

.item-header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #F8F8FF;
    padding-bottom: 5px;
    display: flex;
    justify-self: center;
    border-bottom: #32016E solid;
    margin: 0px;
}

@media (min-width: 1001px) {
    .item-header {
        font-size: 40px;
    }
}

@media (min-width: 901px) and (max-width: 1000px) {
    .item-header {
        font-size: 30px;
    }

    .item-projects-content {
        font-size: 15px;
    }

}

@media (min-width: 800px) and (max-width: 901px) {
    .item-projects-content {
        font-size: 13px;
    }
}

.shown-description-div {
    display: none;
}

.description-title-div {
    justify-self: center;
}

.item-projects-header {
    font-family: 'Times New Roman', Times, serif;
    color: #F8F8FF;
    padding: 0px 10px 1px 10px;
    border-bottom: black solid 5px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
}

@media (max-width: 500px) {
    .project-images {
        width: 150px;
        display: flex;
        justify-self: center;
    }
}

@media (min-width: 501px) and (max-width: 600px) {
    .project-images {
        width: 180px;
        display: flex;
        justify-self: center;
    }
}

@media (min-width: 601px) and (max-width: 700px) {
    .project-images {
        width: 190px;
        display: flex;
        justify-self: center;
    }
}

@media (min-width: 701px) and (max-width: 800px) {
    .project-images {
        width: 190px;
        display: flex;
        justify-self: center;
    }
}

.item-projects-content {
    font-family: 'Times New Roman', Times, serif;
    color: #F8F8FF;
    text-align:center;
    margin: 0px 10px 0px 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

@media (max-width: 700px) {
    .item-projects-content {
        font-size: 14px;
    }
}

@media (min-width: 701px) and (max-width: 800px) {
    .item-projects-content {
        font-size: 14px;
    }
}

@media (min-width: 1000px) and (max-width: 1401px) {
    .item-projects-content {
        font-size: 14.5px;
    }
}

@media (min-width: 1401px) {
    .item-projects-content {
        font-size: 20px;
    }
}

@media (min-width: 800px) and (max-width: 1200px) {
    .item-projects-header {
        font-size: 25px;
    }
}

@media (max-width: 799px) {
    .item-projects-header {
        font-size: 25px;
    }
}




.skills-div-item-header {
    padding-top: 50px;
}

.skills-image-container {
    display: flex;
    justify-content: space-evenly;
}

.skills-image {
    width: 100px;
    padding: 20px;
}

@media (max-width: 400px) {
    .skills-image {
        width: 40px;
        padding: 0px;
    }
}

@media (min-width: 401px) {
    .skills-image {
        width: 50px;
        padding: 0px;
    }
}


@media (min-width: 500px) {
    .skills-image {
        width: 50px;
    }
}

@media (min-width: 550px) {
    .skills-image {
        width: 70px;
    }
}

@media (min-width: 700px) {
    .skills-image {
        width: 100px;
    }
}

@media (min-width: 800px) {
    .skills-image {
        width: 120px;
    }
}

@media (min-width: 1000px) {
    .skills-image {
        width: 140px;
    }
}

.skills-image-container {
    padding: 15px 0px 30px 0px;
}



.contact-link {
    transform: scale(1.0);
    transition: 0.2s;
}

.contact-link:hover {
    transform: scale(1.080);
    transition: 0.2s;
}

.contacts-image {
    width: 80px;
}

@media (max-width: 400px) {
    .contacts-image {
        width: 50px;
    }
}

@media (min-width: 1000px) {
    .contacts-image {
        width: 120px;
    }
}